:root {
  --first-color: #6c63ff;
  --second-color: #f9f7fe;
  --third-color: #272142;
  --heading-font: Playfair Display, serif;
  --body-font: Poppins, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
}

.hero-section {
  text-align: center;
  background: var(--second-color);
  padding: 120px 0;
}
.hero-section p {
  font-family: var(--body-font);
  font-weight: bold;
  font-size: 36px;
}

.hero-section h1 {
  font-size: 86px;
}
.hero-section h2 {
  font-family: var(--body-font);
  font-size: 24px;
  font-weight: normal;
  color: var(--third-color);
  line-height: 30px;
}
.about-content h2 {
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: normal;
  color: var(--third-color);
  line-height: 30px;
}

.primary-btn {
  background: var(--first-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.secondary-btn {
  color: var(--first-color);
  border: 1px solid var(--first-color);
  padding: 15px 20px;
  border-radius: 4px;
  text-decoration: none;
}
.description {
  padding: 40px 30px;
}
.description h3 {
  font-size: 54px;
  margin-bottom: 10px;
}
.description p {
  font-size: 16px;
}
.footer {
  background: var(--second-color);
  padding: 30px 40px;
}
img {
  border-radius: 4px;
  width: 400px;
  margin-left: 40px;
  background-color: var(--second-color);
}
.img-background {
  background-color: var(--second-color);
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 3px 3px 1.5px 0px rgba(0, 0, 0, 0.3);
}
.profile {
  border-radius: 50%;
  background-color: var(--second-color);
  width: 300px;
  box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.3);
}

.project-title {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--body-font);
  text-align: center;
  margin-top: 2px;
}
.contact-content {
  padding: 120px 0px 60px 60px;
}
.contact-link {
  text-align: center;
  margin-top: 40px;
}
.contact-link a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.social-links {
  text-align: center;
  margin-top: 20px;
  color: var(--first-color);
}
.social-links a {
  margin-right: 10px;
}
.logo a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}
li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover,
nav li.active a {
  color: var(--first-color);
}

.skills-container {
  max-width: 600px;
  padding: 20px;
}

.skill {
  margin-bottom: 10px;
}

.skill-label {
  font-weight: bold;
}

.skill-bar {
  height: 20px;
  border-radius: 6px;
  background-color: var(--second-color);
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  border-radius: 6px;
  background-color: var(--first-color);
}

@media (max-width: 900px) {
  .hero-section h1 {
    font-size: 46px;
  }
  .hero-section p {
    font-size: 16px;
  }
  .description h3 {
    font-size: 42px;
  }
  .description {
    text-align: center;
    padding: 15px 30px;
  }
  img {
    margin: 40px auto;
  }
  .about-content {
    text-align: center;
  }
  .footer {
    text-align: center;
  }
  .project-title {
    text-align: center;
  }
  .work-content {
    text-align: center;
  }
  .contact-content {
    text-align: center;
  }
  .img-background {
    padding: 0px;
  }
  .skillset {
    margin-top: 0px !important;
  }
}
